# Build artifacts
bin/
/bin/
obj/
/obj/
idea/

# User-specific files
*.user
*.suo
*.vs/
*.vscode/
*.idea

# Logs
*.log
*.obj

# Dependencies
packages/
*.nupkg
project.lock.json
*.dll
*.pdb
/LeetCodePractice/bin
/LeetCodePractice/obj
